
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>

{%block head %}{%  include "page/head.html" %}{% endblock %}
</head>

<body>
<div class="wrapper">
    

    {%block top %}{% include "page/top.html" %}{% endblock %} 

   

    <!--=== Content ===-->
    <div class="container content-md">
        
    {% block main_content %} {% endblock %}


    </div>
    <!--=== End Content ===-->

    <!--=== Footer Version 1 ===-->
    <div class="footer-v1">
    
        {%block foot %}{%  include "page/foot.html" %}{% endblock %}
        
    </div>
    <!--=== End Footer Version 1 ===-->
</div><!--/wrapper-->

<!-- JS Global Compulsory -->
<script type="text/javascript" src="/static/assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/static/assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="/static/assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="/static/assets/plugins/smoothScroll.js"></script>
<script type="text/javascript" src="/static/assets/plugins/jquery.parallax.js"></script>
<script type="text/javascript" src="/static/assets/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
<!-- JS Customization -->
<script type="text/javascript" src="/static/assets/js/custom.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="/static/assets/js/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
      });
</script>
<!--[if lt IE 9]>
    <script src="/static/assets/plugins/respond.js"></script>
    <script src="/static/assets/plugins/html5shiv.js"></script>
    <script src="/static/assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->

</body>
</html>