    <!--=== Header v5 ===-->
    <div class="header-v5">
        <!-- Topbar v3 -->
        <div class="topbar-v3">
            <div class="search-open">
                <div class="container">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="search-close"><i class="icon-close"></i></div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                    
                    </div>
                    <div class="col-sm-6">
                        
                    </div>
                </div>
            </div><!--/container-->
        </div>
        <!-- End Topbar v3 -->

        <!-- Navbar -->
        <div class="navbar navbar-default mega-menu" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>     
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img id="logo-header" src="/static/assets/img/asiatourgolflogo.png" alt="Logo" width="190">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-responsive-collapse">
                    




                    

                    <ul class="nav navbar-nav">

                        <!-- Home -->
                        <li class="dropdown mega-menu-fullwidth  {{ menuactive_hotel }}">
                            <a href="/content/hotel" class="dropdown-toggle" data-toggle="dropdown">
                                호     텔..
                            </a>
                        </li>
                        <!-- End Home -->

                        <!-- Pages -->
                        <li class="dropdown mega-menu-fullwidth {% block menuactive_golf %}{% endblock %}" >
                            <a href="/content/golf" class="dropdown-toggle" data-toggle="dropdown">
                                골 프 장
                            </a>
                        </li>
                        <!-- End Pages -->

                        <!-- Blog -->
                        <li class="dropdown mega-menu-fullwidth">
                            <a href="/content/tour" class="dropdown-toggle" data-toggle="dropdown">
                                관 광 지
                            </a>
                            
                            
                        </li>
                        <!-- End Blog -->

                        <!-- Portfolio -->
                        <li class="dropdown mega-menu-fullwidth">
                            <a href="/content/packagetour" class="dropdown-toggle" data-toggle="dropdown">
                                패 키 지 
                            </a>
                            
                            
                        </li>
                        <!-- End Portfolio -->

                        <!-- Features -->
                        <li class="dropdown mega-menu-fullwidth {% block menuactive %}{% endblock %}">
                            <a href="/content/tourinformation" class="dropdown-toggle" data-toggle="dropdown">
                                여 행 정 보 
                            </a>
                            
                            
                        </li>
                        <!-- End Features -->

                        <!-- Shortcodes -->
                        <li class="dropdown mega-menu-fullwidth">
                            <a href="/content/ticket" class="dropdown-toggle" data-toggle="dropdown">
                                항 공 권
                            </a>
                            
                            
                        </li>
                        <!-- End Shortcodes -->

                        <!-- Misc Pages -->
                        <li class="dropdown mega-menu-fullwidth">
                            <a href="/content/freetour" class="dropdown-toggle" data-toggle="dropdown">
                                자 유 여 행
                            </a>
                           
                            
                        </li>
                        <!-- End Misc Pages -->


                    </ul>
                </div><!--/navbar-collapse-->
            </div>
        </div>
        <!-- End Navbar -->
    </div>
    <!--=== End Header v5 ===-->
