                            <ul class="dropdown-menu">
                                <li>
                                    <div class="mega-menu-content disable-icons">
                                        <div class="container">
                                            <div class="row equal-height">
                                                
                                                <div class="col-md-2 equal-height-in">
                                                    <ul class="list-unstyled equal-height-list">
                                                        <li><h3>호  텔</h3></li>

                                                        <!-- Typography -->
                                                        <li><a href="shortcode_typo_general.html"><i class="fa fa-sort-alpha-asc"></i> G호텔</a></li>
                                                        
                                                    </ul>
                                                </div>
                                                <div class="col-md-2 equal-height-in">
                                                    <ul class="list-unstyled equal-height-list">
                                                        <li><h3>패 키 지 </h3></li>

                                                        <!-- Buttons -->
                                                        <li><a href="shortcode_btn_general.html"><i class="fa fa-flask"></i> General Buttons</a></li>
                                                        
                                                    </ul>
                                                </div>
                                                <div class="col-md-2 equal-height-in">
                                                    <ul class="list-unstyled equal-height-list">
                                                        <li><h3>Common elements</h3></li>

                                                        <!-- Common Elements -->
                                                        <li><a href="shortcode_thumbnails.html"><i class="fa fa-image"></i> Thumbnails</a></li>
                                                       
                                                    </ul>
                                                </div>
                                                <div class="col-md-2 equal-height-in">
                                                    <ul class="list-unstyled equal-height-list">
                                                        <li><h3>Forms &amp; Infographics</h3></li>

                                                        <!-- Forms -->
                                                        <li><a href="shortcode_form_general.html"><i class="fa fa-bars"></i> Common Bootstrap Forms</a></li>
                                                        
                                                    </ul>
                                                </div>

                                                <div class="col-md-2 equal-height-in">
                                                    <ul class="list-unstyled equal-height-list">
                                                        <li><h3>Forms &amp; Infographics</h3></li>

                                                        <!-- Forms -->
                                                        <li><a href="shortcode_form_general.html"><i class="fa fa-bars"></i> Common Bootstrap Forms</a></li>
                                                        
                                                    </ul>
                                                </div>

                                                <div class="col-md-1 equal-height-in">
                                                    <ul class="list-unstyled equal-height-list">
                                                        <li><h3>Forms &amp; Infographics</h3></li>

                                                        <!-- Forms -->
                                                        <li><a href="shortcode_form_general.html"><i class="fa fa-bars"></i> Common Bootstrap Forms</a></li>
                                                        
                                                    </ul>
                                                </div>

                                                <div class="col-md-1 equal-height-in">
                                                    <ul class="list-unstyled equal-height-list">
                                                        <li><h3>Forms &amp; Infographics</h3></li>

                                                        <!-- Forms -->
                                                        <li><a href="shortcode_form_general.html"><i class="fa fa-bars"></i> Common Bootstrap Forms</a></li>
                                                        
                                                    </ul>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>